<div class='tabs'>
    <div class='tab' [class.active]='tab === "services"' (click)='tab = "services"'>סטטוס הזנת שירותים חברתיים</div>
    <div class='tab' [class.active]='tab === "measurement"' (click)='tab = "measurement"'>סטטוס מדידת מכרזים</div>
</div>

<app-services-tab *ngIf='tab === "services"' [datarecords]='datarecords' [def]='def'></app-services-tab>
<app-measurement-tab *ngIf='tab === "measurement"' [datarecords]='datarecords' [def]='def'></app-measurement-tab>

<div class='version'>גירסא: {{ VERSION }}</div>

<app-social-service-list-updater *ngIf='roles._.datarecordEditAll'
    [datarecords]='updateDatarecords' [def]='def'
></app-social-service-list-updater>
