<div class='padding' *ngIf='!item.item || _open'></div>
<ng-container *ngIf='item.header'>
    <div class='header' [class.open]='_open' (click)='open = !open'>
        <i *ngIf='!_open' class="fas fa-caret-left"></i>
        <i *ngIf='_open' class="fas fa-caret-down"></i>
        <h3>{{item.header}}</h3>
        <p class='count'>
            מספר שירותים: {{count.toLocaleString()}}
            <span *ngIf='incompleteCount'>({{incompleteCount.toLocaleString()}} עדיין בעבודה)</span>
        </p>
    </div>
</ng-container>
<div class='content' [class.visible]='item.items && _open'>
    <app-social-service-list-item *ngFor='let i of item.items' [def]='def' [item]='i' [search]='search' (found)='onfound()'></app-social-service-list-item>
</div>
<ng-container *ngIf='item.item'>
    <div class='content' [class.visible]='_open'>
        <div class='item' [class.deleted]='item.item.deleted'>
            <div class='line'>
                <a [routerLink]='"/datarecords/" + def.name + "/" + item.id'>{{item.item.name}}</a>
                <small>{{item.item.description}}</small>
            </div>
            <div class='line'>
                <div class='stat'>
                    <ng-container *ngIf='!item.item.deleted'>
                        <span class='status complete' *ngIf='item.item.complete'>
                            <i class="fas fa-check-circle"></i> הסתיים
                        </span>
                        <span class='status incomplete' *ngIf='!item.item.complete'>
                            <i class="fas fa-dot-circle "></i> בעבודה
                        </span>    
                    </ng-container>
                    <ng-container *ngIf='item.item.deleted'>
                        <span class='status deleted'>
                            <i class="fas fa-times-circle"></i> מחוקה
                        </span>
                    </ng-container>
                </div>
                <div class='stat'>{{yearRange}}</div>
                <div class='stat'>{{numSuppliers}} מפעילים קשורים</div>
                <div class='stat'>{{numTenders}} מכרזים קשורים</div>
            </div>
        </div>
    </div>
</ng-container>
