<!-- <span class='no-info' *ngIf='!record[field] || record[field].length === 0'><i class="fas fa-info-circle"></i>אין מידע</span> -->
<table *ngIf='record[field] && record[field].length'>
  <thead>
    <th *ngFor='let header of headers'>
      <ng-container *ngIf='header.kind !== "button"'>
        {{header.display}}<ng-container *ngIf='header.explanation'>&nbsp;<i [title]='header.explanation' class="fas fa-xs fa-question-circle"></i></ng-container>
      </ng-container>
    </th>
  </thead>
  <tbody>
    <ng-container  *ngFor='let row of record[field]; let idx=index'>
      <tr *ngFor='let tr of rows' [class.odd]='idx % 2'>
        <td *ngFor='let field of tr'
            [attr.colspan]='field.fullRow === defaultRowIndex ? 1 : colspan'
        >
          <app-editable-field
              [kind]='field.kind'
              [options]='field.options'
              [record]='row'
              [field]='field.name'
              [readonly]='field.readonly' 
              [placeholder]='field.display'
              [strong]='field.strong'
              (changed)='emit(row, field)'
          ></app-editable-field>
        </td>
        <td *ngIf='config.rowDelete'><span class='delete' (click)='delete(row)'><i class="fas fa-trash-alt"></i></span></td>
      </tr>  
    </ng-container>
  </tbody>
</table>
<span class='add' (click)='record[field].push({})' *ngIf='config.rowAdd'><i class="fas fa-plus-circle"></i> הוספת שורה</span>
