:host {
    i {
        margin-left: 16px;
    }

    table {
        margin: 20px 0;
        border-spacing: 20px 0;
        border-collapse: separate;
        thead {
            th {
                text-align: right;
                border-bottom: 1px solid black;
            }
        }
        tbody {
            td {
                padding: 0 8px;
            }
        }
    }
    .add {
        display: block;
        cursor: pointer;
    }
    .no-info {
        display: block;
   }
}