<!-- <span class='no-info' *ngIf='!record[field] || record[field].length === 0'><i class="fas fa-info-circle"></i>אין מידע</span> -->
<table *ngIf='record[field] && record[field].length'>
  <thead>
    <th *ngFor='let header of headers'>
      <ng-container *ngIf='header.kind !== "button"'>
        {{header.display}}<ng-container *ngIf='header.explanation'>&nbsp;<i [title]='header.explanation' class="fas fa-xs fa-question-circle"></i></ng-container>
      </ng-container>
    </th>
    <th *ngIf='config.rowDelete'></th>
  </thead>
  <tbody>
    <ng-container  *ngFor='let row of record[field]; let idx=index'>
      <tr *ngFor='let tr of rows; let rowidx=index' [class.odd]='idx % 2'>
        <td *ngFor='let field of tr'
            [attr.colspan]='field.fullRow === defaultRowIndex ? 1 : colspan'
        >
          <app-editable-field
              [kind]='field.kind'
              [options]='field.options'
              [record]='row'
              [field]='field.name'
              [readonly]='field.readonly' 
              [placeholder]='field.display'
              [strong]='field.strong'
              [required]='field.required'
              (changed)='emit(row, field)'
              *ngIf='kind(field) === "editable"'
          ></app-editable-field>
          <app-alert-text
            [record]='row'
            [kind]='field.kind'
            [display]='field.display'
            *ngIf='kind(field) === "alert"'
          ></app-alert-text>
          <app-tender-suppliers-editor
            [record]='row'
            [field]='field.name'
            [context]='record'
            (changed)='emit(row, field)'
            (modal)='modal.emit($event)'
            *ngIf='kind(field) === "supplier-selection"'
          ></app-tender-suppliers-editor>
          <!-- <app-tender-survey-control
            [survey]='row.tqs || null'
            [record]='row'
            [context]='record.datarecord'
            (changed)='emit(row, field); saveChanges()'
            (modal)='modal.emit($event)'
            *ngIf='kind(field) === "survey" && row.tqs?.required'
          ></app-tender-survey-control> -->
        </td>
        <td *ngIf='config.rowDelete && rows.length - 1 === rowidx'><span class='delete' (click)='delete(row)'><i class="fas fa-trash-alt"></i></span></td>
      </tr>  
    </ng-container>
  </tbody>
</table>
<span class='add' (click)='record[field].push({})' *ngIf='config.rowAdd'><i class="fas fa-plus-circle"></i> הוספת שורה</span>
