<label *ngIf='label' [class.invalid]='!valid'>{{label}}:</label>
<ng-container *ngIf='kind === "text"'>
  <div class='editable-field' [class.editable]='!readonly' [class.readonly]='readonly'>
    <ng-container *ngIf='!editing'>
      <span class='pencil' (click)='editing = true; focus()'><i class="fas fa-edit"></i></span>
      <span class='value' [innerHtml]='toText(record[field])' [style.direction]='direction' [class.strong]='strong'></span>
    </ng-container>
    <ng-container *ngIf='editing'>
      <input [class.invalid]='!valid' [(ngModel)]='record[field]' (blur)='blur()' [placeholder]='placeholder' size='1' [style.direction]='direction' 
             [type]='inputType()' #editor>
    </ng-container>
  </div>
</ng-container>
<ng-container *ngIf='kind === "enum" || kind === "datarecord"'>
  <ng-container *ngIf='options.multiple'>
    <!-- <select [(ngModel)]='record[field]' [class.invalid]='!valid' (change)='onChanged()' [multiple]='true' [size]='3'>
      <ng-container *ngFor='let option of options.options'>
        <option [value]='option.value'>{{ option.show }}</option>
      </ng-container>
    </select>   -->
    <app-editable-field-multiple-selection [value]='record[field]' [options]='options.options' [invalid]='!valid'
            (modified)='record[field]=$event; onChanged()'></app-editable-field-multiple-selection>
  </ng-container>
  <ng-container *ngIf='!options.multiple'>
    <select [(ngModel)]='record[field]' [class.invalid]='!valid' (change)='onChanged()'>
      <ng-container *ngFor='let option of options.options'>
        <option [value]='option.value'>{{ option.show }}</option>
      </ng-container>
    </select>  
  </ng-container>
</ng-container>
<ng-container *ngIf='kind === "button"'>
  <button (click)='onChanged()'>{{ placeholder }}</button>
</ng-container>
<ng-container *ngIf='kind === "icon" && record[field]'>
  <i [class]='options.iconClass' [style.color]='options.iconColor' [title]='record[field]'></i>
</ng-container>
