<ng-container *ngIf='item.header'>
    <div class='header' [class.open]='_open' (click)='open = !open'>
        <i *ngIf='!_open' class="fas fa-caret-left"></i>
        <i *ngIf='_open' class="fas fa-caret-down"></i>
        <h3 [style.margin-left]='(16  * (3-level)) + "px"'>{{item.header}}</h3>
        <app-item-progress [stats]='stats'></app-item-progress>
        <!-- <div class='stats'>{{stats.total.toLocaleString()}}</div> -->
        <!-- <p class='count'>
            מספר שירותים: {{count.toLocaleString()}}
            <span *ngIf='incompleteCount'>({{incompleteCount.toLocaleString()}} עדיין בעבודה)</span>
        </p> -->
    </div>
</ng-container>
<div class='content' [class.visible]='item.items && items.length > 0 && !!_open'>
    <app-social-service-list-item *ngFor='let i of items' [def]='def' [item]='i' [search]='search' [level]='level+1' [itemFilter]='itemFilter' (found)='onfound()'></app-social-service-list-item>
</div>
<ng-container *ngIf='item.item'>
    <div class='content visible' [class.highlighted]='_open'>
        <div class='item' [class.deleted]='item.item.deleted'>
            <div class='line'>
                <span class='name'>
                    <a [routerLink]='"/datarecords/" + def.name + "/" + item.id'>{{item.item.name}}</a>
                    <ng-container *ngIf='!item.item.deleted && item.item.office === "משרד הרווחה"'>
                        <ng-container *ngIf='item.item.catalog_number'>
                            &nbsp;<small>(#{{item.item.catalog_number}})</small>
                        </ng-container>
                        <ng-container *ngIf='!item.item.catalog_number'>
                            &nbsp;<small><strong>(מספר קטלוגי חסר)</strong></small>
                        </ng-container>                                
                    </ng-container>        
                </span>
                <small>{{item.item.description}}</small>
            </div>
            <div class='line'>
                <div class='stat'>
                    <ng-container *ngIf='!item.item.deleted && !item.item.keepPrivate'>
                        <ng-container *ngIf='item.item.complete'>
                            <ng-container *ngIf='item.item.updated'>
                                <span class='status complete'>
                                    <i class="fas fa-check-circle"></i> הסתיים
                                </span>
                            </ng-container>
                            <ng-container *ngIf='!item.item.updated'>
                                <span class='status update-needed'>
                                    <i class="fas fa-check-circle"></i> נדרש עדכון
                                </span>
                            </ng-container>
                        </ng-container>
                        <span class='status incomplete' *ngIf='!item.item.complete'>
                            <i class="fas fa-dot-circle "></i> בעבודה
                        </span>    
                    </ng-container>
                    <ng-container *ngIf='item.item.deleted && !item.item.keepPrivate'>
                        <span class='status deleted'>
                            <i class="fas fa-times-circle"></i> היסטורי
                        </span>
                    </ng-container>
                    <ng-container *ngIf='item.item.keepPrivate'>
                        <span class='status unpublished'>
                            <i class="fas fa-times-circle"></i> לא לפרסום
                        </span>
                    </ng-container>
                </div>
                <div class='stat'>{{yearRange}}</div>
                <div class='stat'>{{numSuppliers}} מפעילים קשורים</div>
                <div class='stat'>{{numTenders}} מכרזים קשורים</div>
            </div>
        </div>
    </div>
</ng-container>
