<div class='searchbox'>
    <input (keyup)='search($event.target.value)' placeholder="שם של מפעיל או מספר תאגיד..." #input>
    <span>
        <i class="fas fa-search"></i>
    </span>
</div>
<div class='results'>
    <ng-container *ngFor='let result of (results | async)'>
        <div class='result' (click)='select(result)'>
            <div class='info'>
                <div class='line'>
                    <div class='type' [innerHtml]='result.kind_he'></div>
                    <div class='id' [innerHtml]='result.id'></div>    
                </div>
                <div class='line'>
                    <div class='title' [innerHtml]='result.name'></div>
                </div>    
            </div>
            <div class='selector'><i class="fas fa-chevron-left"></i></div>
        </div>
    </ng-container>
</div>
