<app-editable-field [record]='datarecord' field='name' label='שם השירות' [required]='true'></app-editable-field>
<div class='explanation'>שם השירות כפי שנקרא במערכות המידע ו/או ביחידות המקצועיות של המשרד. שם השירות צריך לבטא את מהות השירות הניתן ולהיות ברור לקורא מן החוץ.</div>
<app-editable-field [record]='datarecord' field='description' label='תיאור השירות' [required]='true'></app-editable-field>
<div class='explanation'>מהות השירות ומה ניתן באמצעותו בשניים עד שלושה משפטים. השתמשו בתבנית הבאה:<br/>
     מתן (מה ניתן בשירות) עבור (סוג מקבלי השירות) על מנת (מטרת השירות). פועל באמצעות (אופן הפעלת השירות) ומתמקד/מאופיין ב(מרכיב מרכזי או ייחודי בשירות).<br/>
     הימנעו מלהשתמש במילים: משרד, שירות/ים, ונסו לתאר את השירות כך שיהיה מובן גם לציבור הרחב.
     לדוגמה: מתן ייעוץ, בדיקה ואבחון רפואי ופסיכו-דיאגנוסטי של ילדים המיועדים לאימוץ בישראל, על מנת להבטיח אימוץ מיטבי. פועל באמצעות מרכזים רפואיים ומאופיין בליווי רציף והוליסטי של הילדים.</div>

<div class='tabs'>
    <div class='tab' (click)='tab = "org"' [class.active]='tab === "org"'>
        <span class='name'>שיוך ארגוני</span>
    </div>
    <div class='tab' (click)='tab = "properties"' [class.active]='tab === "properties"'>
        <span class='name'>מאפיינים</span>
    </div>
    <div class='tab' (click)='tab = "beneficiaries"' [class.active]='tab === "beneficiaries"'>
        <span class='name'>מוטבים</span>
    </div>
    <div class='tab' (click)='tab = "budget"' [class.active]='tab === "budget"'>
        <span class='name'>תקנות תקציביות</span>
    </div>
    <div class='tab' (click)='tab = "suppliers"' [class.active]='tab === "suppliers"'>
        <span class='name'>מפעילים</span>
        <span class='info' *ngIf="statPossible('suppliers')">{{statPossible('suppliers')}} אפשריים</span>
        <span class='info' *ngIf="statConnected('suppliers')">{{statConnected('suppliers')}} מקושרים</span>
        <span class='info suggested' *ngIf="statSuggested('suppliers')">{{statSuggested('suppliers')}} מוצעים</span>
        <span class='info' *ngIf="statNonConnected('suppliers')">{{statNonConnected('suppliers')}} פסולים</span>
    </div>
    <div class='tab' (click)='tab = "tenders"' [class.active]='tab === "tenders"'>
        <span class='name'>מכרזים ופטורים</span>
        <span class='info' *ngIf="statPossible('tenders')">{{statPossible('tenders')}} אפשריים</span>
        <span class='info' *ngIf="statConnected('tenders')">{{statConnected('tenders')}} מקושרים</span>
        <span class='info suggested' *ngIf="statSuggested('tenders')">{{statSuggested('tenders')}} מוצעים</span>
        <span class='info' *ngIf="statNonConnected('tenders')">{{statNonConnected('tenders')}} פסולים</span>
    </div>
</div>

<div class='tab-contents' [class.visible]='tab=="org"'>
    <app-editable-field [record]='datarecord' field='office' label='שם המשרד הממשלתי' kind='enum' [required]='true'
                        [options]='office_options' (changed)='updateHierarchy(1)'></app-editable-field>
    <div class='explanation'>שם המשרד אשר נותן את השירות</div>
    <ng-container *ngIf='level1_name && level1_options.options.length'>
        <app-editable-field [record]='datarecord' field='unit' [required]='true'
                            [label]='"שם ה" + level1_name' kind='enum' [options]='level1_options' (changed)='updateHierarchy(2)'></app-editable-field>
        <div class='explanation'>שם ה{{level1_name}} אשר אחראי על מתן השירות</div>
    </ng-container>
    <ng-container *ngIf='level2_name && level2_options.options.length'>
        <app-editable-field [record]='datarecord' field='subunit' [required]='true'
                        [label]='"שם ה" + level2_name' kind='enum' [options]='level2_options' (changed)='updateHierarchy(3)'></app-editable-field>
        <div class='explanation'>שם ה{{level2_name}} אשר אחראים למתן השירות</div>
    </ng-container>
    <ng-container *ngIf='level3_name && level3_options.options.length'>
        <app-editable-field [record]='datarecord' field='subsubunit' [required]='false'
                            [label]='"שם ה" + level3_name' kind='enum' [options]='level3_options' (changed)='updateHierarchy()'></app-editable-field>
        <div class='explanation'>שם ה{{level3_name}} אשר אחראים למתן השירות</div>
    </ng-container>
</div>

<div class='tab-contents tab-properties' [class.visible]='tab=="properties"'>
    <app-editable-field [record]='datarecord' field='target_audience' label='אוכלוסיית יעד' kind='datarecord' [required]='true'
                        [options]='{name: "target_audience", multiple: true}'></app-editable-field>
    <div class='explanation'>אוכלוסיות היעד של השירות. שימו לב כי ניתן לבצע בחירה מרובה של עד 4 אוכלוסיות יעד, בחרו את אלה העיקריות ביותר. אם השירות אינו מיועד לאוכלוסיה ספציפית, סמנו "אוכלוסיה כללית".</div>

    <app-editable-field [record]='datarecord' field='target_age_group' label='קבוצת גיל' kind='datarecord' [required]='true'
                        [options]='{name: "target_age_group", multiple: true}'></app-editable-field>
    <div class='explanation'>קבוצת הגיל לה מיועד השירות. שימו לב כי ניתן לבצע בחירה מרובה של עד 4 קבוצות גיל, בחרו את אלה העיקריות ביותר. במידה והשירות אינו מיועד לקבוצת גיל מסוימת, סמנו "כל הגילאים".</div>

    <app-editable-field [record]='datarecord' field='subject' label='תחום ההתערבות' kind='datarecord' [required]='true'
                        [options]='{name: "subject", multiple: true}'></app-editable-field>
    <div class='explanation'>עולם התוכן או הנושא בו עוסק השירות. שימו לב כי ניתן לבצע בחירה מרובה של עד 4 תחומים, בחרו את אלה העיקריים ביותר.</div>

    <app-editable-field [record]='datarecord' field='intervention' label='אופן ההתערבות' kind='datarecord' [required]='true'
                        [options]='{name: "intervention", multiple: true}'></app-editable-field>
    <div class='explanation'>הדרך או הצורה באמצעותה ניתן השירות. שימו לב כי ניתן לבצע בחירה מרובה של עד 4 אופני התערבות, בחרו את אלה העיקריים ביותר.</div>
    
    <h3>ניתן מכוח</h3>
    <div class='explanation'>האם השירות ניתן מכוח חוקים, החלטות ממשלה או חוזר/נוהל משרדי?<br/>
        במידה והשירות ניתן מכוח חוק, החלטת ממשלה או חוזר משרדי, הכניסו קישור לפרסום של המסמך הרלוונטי.<br/>
        במידה ומידע זה אינו רלוונטי לשירות, אפשר למחוק את כל השורות בטבלה.
    </div>

    <app-editable-table [record]='datarecord' field='virtue_of_table' [config]='C.virtueOfConfig'></app-editable-table>


    <h3>תיעוד מקורות המידע</h3>
    <textarea [(ngModel)]='datarecord.notes' rows='5' placeholder='הערות כלליות (לא לפרסום)'></textarea> 
    <div class='explanation'>מידע אודות תהליך ההזנה, האופן בו התבצע והגורמים שלקחו חלק.<br/>
        המידע מיועד לסייע לגורמים הבאים אחריכם שיזינו את הנתונים במערכת, ולסייע בידם להגיע למידע, הוא לא יוצג בממשק המשתמש הרגיל.</div>
</div>

<div class='tab-contents' [class.visible]='tab=="beneficiaries"'>
    <div class='explanation'>
        המספר השנתי של מקבלי השירות אשר קיבלו בפועל את השירות. שימו לב כי מדובר במקבלי שירות מקרב אוכלוסיית היעד ולא ברשויות מקומיות, בתי ספר וכדומה.<br/>
         במידה ויש צורך, בצעו הערכה של מספר מקבלי השירות על פי מפתח קבוע. לדוגמה, אם השירות ניתן למספר כיתות, בצעו חישוב על פי המספר הממוצע של תלמידים בכיתה.</div>
    <app-editable-table [record]='datarecord' field='beneficiaries' [config]='C.beneficiariesConfig'></app-editable-table>
</div>

<div class='tab-contents' [class.visible]='tab=="budget"'>
    <div class='explanation'></div>
    <div class='budget'>
        <div>
            <h3>תקנות תקציביות</h3>
            <div class='explanation'>
                התקנות התקציביות מהן מתוקצב השירות.
            </div>
            <app-editable-table [record]='datarecord' field='budgetItems' [config]='C.budgetItemsConfig' (change)='refresh()'></app-editable-table>
            <!-- <a class='fill-in' (click)='fillInBudgets()' *ngIf='datarecord.budgetItems && datarecord.budgetItems.length'><i class="fas fa-magic"></i>השלמת תקנות אוטומטית</a>         -->
            <h4 class='clickable' (click)='modal("budget")'><i class="fas fa-search"></i>חיפוש והוספה של תקנה תקציבית</h4>
            <div class='explanation'>מספר התקנה התקציבית ממנה ניתן תקציב השירות. על התקנה לכלול 8 ספרות, כולל מספר המשרד</div>
        </div>
        <div *ngIf='datarecord.manualBudget && datarecord.manualBudget.length'>
            <h3>תקציב השירות</h3>
            <div class='explanation'>
                תקציב השירות המאושר והביצוע בפועל, לכל שנת תקציב.
            </div>
            <app-editable-table [record]='datarecord' field='manualBudget' [config]='C.manualBudgetConfig'></app-editable-table>
        </div>
        <div *ngIf='budgetAmounts && budgetAmounts.length'>
            <h3>נתונים מספר התקציב</h3>
            <div class='explanation'>
                תקציב התקנה כפי שמופיע בספר התקציב. אנא בדקו כי תקציב השירות המאושר ותקציב הביצוע בפועל אינם חורגים מתקציב התקנה.
            </div>
            <app-editable-table [record]='thiz' field='budgetAmounts' [config]='C.budgetAmountsConfig'></app-editable-table>
        </div>
    </div>        
</div>

<div class='tab-contents' [class.visible]='tab==="suppliers"'>
    <div class='explanation'>מפעילים אשר רלוונטיים להליך המכרזי ולשירות. סמנו או לחילופין הזינו את המידע אודות המפעילים הרלוונטיים לשירות.</div>
    <ng-container *ngIf='datarecord.suppliers.length'>
        <h3>מפעילים קשורים</h3>
        <app-editable-table [record]='datarecord' field='suppliers' [config]='C.suppliersConfig' (changed)='connectSupplier($event)'></app-editable-table>    
    </ng-container>
    <ng-container *ngIf='datarecord.non_suppliers.length'>
        <h3>מפעילים <u>לא</u> קשורים</h3>
        <app-editable-table [record]='datarecord' field='non_suppliers' [config]='C.nonSuppliersConfig' (changed)='connectSupplier($event)'></app-editable-table>
    </ng-container>
    <ng-container *ngIf='possibleSuppliers && possibleSuppliers.length'>
        <h3>מפעילים אפשריים</h3>
        <app-editable-table [record]='thiz' field='possibleSuppliers' [config]='C.supplierListConfig' (changed)='connectSupplier($event)'></app-editable-table>
    </ng-container>
    <h4 class='clickable' (click)='modal("supplier")'><i class="fas fa-search"></i>חיפוש והוספה של מפעיל</h4>
</div>

<div class='tab-contents' [class.visible]='tab==="tenders"'>
    <div class='explanation'>המכרזים אשר במסגרתם מסופק השירות. סמנו את המכרזים הרלוונטים, או לחילופין הזינו את המידע אודות המכרזים שבשירות.</div>
    <ng-container *ngIf='tendersTender.length'>
        <h3>מכרזים קשורים</h3>
        <app-editable-table [record]='thiz' field='tendersTender' [config]='C.tendersTenderConfig' (changed)='connectTender($event)'></app-editable-table>
    </ng-container>
    <ng-container *ngIf='tendersExemption.length'>
        <h3>פטורים קשורים</h3>
        <app-editable-table [record]='thiz' field='tendersExemption' [config]='C.tendersExemptionConfig' (changed)='connectTender($event)'></app-editable-table>
    </ng-container>
    <ng-container *ngIf='datarecord.non_tenders.length'>
        <h3>מכרזים <u>לא</u> קשורים</h3>
        <app-editable-table [record]='datarecord' field='non_tenders' [config]='C.tendersConfig' (changed)='connectTender($event)'></app-editable-table>
    </ng-container>
    <ng-container *ngIf='possibleTenders && possibleTenders.length'>
        <h3>מכרזים אפשריים</h3>
        <app-editable-table [record]='thiz' field='possibleTenders' [config]='C.tenderListConfig' (changed)='connectTender($event)'></app-editable-table>    
    </ng-container>
    <h4 class='clickable' (click)='modal("tender")'><i class="fas fa-search"></i>חיפוש והוספה של מכרז או פטור</h4>
</div>


<div class='buttons'>
    <div *ngIf='roles._.datarecordEditOwn || roles._.datarecordEditAll'  class='save-done button' [class.confirm]='saveConfirm' (click)='save(false)'>
      <i class="fas fa-save" aria-hidden="true" *ngIf='!saveConfirm'></i>
      <i class="fas fa-check-circle" aria-hidden="true" *ngIf='saveConfirm'></i>
      שמירה והמשך עבודה
    </div>
    <div *ngIf='roles._.datarecordEditOwn || roles._.datarecordEditAll'  class='save-notdone button' (click)='save(true)'>
      <i class="fas fa-save" aria-hidden="true"></i>
      שמירה וסימון כהושלם
    </div>
    <div *ngIf='errorMsg || api.errorMsg' class='error-msg'>{{errorMsg || api.errorMsg}}</div>
    <ng-container *ngIf='(roles._.datarecordDeleteOwn ||  roles._.datarecordDeleteAll) && datarecord.id' >
        <ng-container *ngIf='datarecord.deleted' >
            <div class='restore button' (click)='restore($event)'>
                <i class="fas fa-trash" aria-hidden="true"></i>
                שחזור השירות
            </div>          
            <div class='delete button' (click)='delete($event)'>
                <i class="fas fa-trash" aria-hidden="true"></i>
                מחיקה סופית של השירות
            </div>
        </ng-container>
        <ng-container *ngIf='!datarecord.deleted' >
            <div class='fake-delete button' (click)='fakeDelete($event)'>
                <i class="fas fa-trash" aria-hidden="true"></i>
                מחיקת השירות
            </div>          
        </ng-container>
    </ng-container>
</div>
  
<div class='modal' *ngIf='modalActive' (keyup)='modalKeyup($event)' (click)='modalClick($event)'>
    <div class='dialog' (click)='$event.stopPropagation()'>
        <div class='close' (click)='modal(null)'>סגירה</div>
        <app-budget-searcher *ngIf='showSearch === "budget"' (choose)='addBudgetItem($event)'></app-budget-searcher>
        <app-tender-searcher *ngIf='showSearch === "tender"' [office]='datarecord && datarecord.office' [existing]='datarecord.tenders' (choose)='connectTender({row: $event})'></app-tender-searcher>
        <app-supplier-searcher *ngIf='showSearch === "supplier"' (choose)='connectSupplier({row: $event})'></app-supplier-searcher>
    </div>
</div>
