<div class='container' *ngIf='survey !== null'>
    <ng-container *ngIf='survey.submitted'>
        <i class="fas fa-chart-bar"></i>
        <div>
            <span>שאלון מדידת ״רכש חברתי מיטבי״ הוגש</span><br/>
            <a [href]='survey.link' target='_blank'>צפיה במדדים עבור מכרז זה</a>
        </div>
    </ng-container>
    <ng-container *ngIf='!survey.submitted && survey.link'>
        <i class="fas fa-edit"></i>
        <a *ngIf='survey.flag === "no"' (click)='openSurvey()'>קישור לשאלון מדידה להליך בסיס</a>
        <a *ngIf='survey.flag === "yes"' (click)='openSurvey()'>קישור לשאלון מדידה להליך דגל</a>
    </ng-container>
    <ng-container *ngIf='!survey.submitted && record.tender_type !== "exemptions" && !survey.flag'>
        <i class="fas fa-exclamation-circle"></i>
        <strong>בחירת סוג מכרז עבור מדידת ״רכש חברתי מיטבי״:</strong>
        <select [(ngModel)]='flag'>
            <option [ngValue]='null'>בחירה</option>
            <option [ngValue]='"yes"'>מכרז דגל</option>
            <option [ngValue]='"no"'>מכרז בסיס</option>
        </select>
    </ng-container>
</div>
