<div class='info'>
    <p>הרשאות גישה: יש לך גישה לשירותים של {{offices[designatedOffice] || "כל המשרדים"}}</p>
    <a (click)='refresh()'>
        <i class="fa fa-sync-alt" aria-hidden="true"></i>
        רענון סטטוס הזנה
    </a>
</div>

<div class='filtering'>
    <input (keyup)='search($event)' class='search' placeholder='חיפוש שרות או מכרז...'>
    <select [(ngModel)]='selectedFilter'>
        <option value='all'>הצגת כל המכרזים</option>
        <option value='base'>הצגת רק מכרזי בסיס</option>
        <option value='flag'>הצגת רק מכרזי דגל</option>
    </select>
</div>

<app-measurement-progress-legend></app-measurement-progress-legend>

<app-social-service-list-measurement-item *ngIf='!loading' [def]='def' [item]='aggregated' [search]='query' [itemFilter]='selectedFilter'></app-social-service-list-measurement-item>
<div class='loading' *ngIf='loading'>טוען נתונים...</div>
