<div class='searchbox'>
    <input (keyup)='search($event.target.value)' placeholder="שם של מכרז או מספר מכרז..." #input>
    <span>
        <i class="fas fa-search"></i>
    </span>
</div>
<div class='results'>
    <ng-container *ngFor='let result of (results | async)'>
        <div class='result' (click)='select(result)'>
            <div class='info'>
                <div class='line'>
                    <div class='type' [innerHtml]='result.tender_type_he'></div>
                    <div class='id' *ngIf='result.tender_id !== "none"' [innerHtml]='result.tender_id'></div>    
                    <div class='dates' [innerHtml]='result.last_update_date'></div>    
                </div>
                <div class='line'>
                    <div class='title' [innerHtml]='result.page_title'></div>
                </div>    
            </div>
            <div class='selector'><i class="fas fa-chevron-left"></i></div>
        </div>
    </ng-container>
</div>
